@charset "utf-8";

$card-background-color: #121d2f;
$card-shadow: 0 0.5em 1em -0.125em rgba(98,15,46, 0.1), 0 0px 0 1px rgba(98,15,46, 0.02);
$card-color: #c8d1d7;
$card-header-color: #c8d1d7;
$card-content-background-color: hsla(0.58, 0.31, 0.11, 0.04);

@import "~bulma/bulma.sass";

.paddedCard{
  margin-bottom: 4%;
}
